[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ibis-framework = {extras = ["duckdb"], version = "*"}
altair = "*"
openpyxl = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.12"
